.center {
		text-align: center;
}
h1 {
		position: absolute;
		top: 5px;
		left: 220px;
}
#current_player {
		position: absolute;
		top: 80px;
		left: 190px;
}
#now_stones {
		position: absolute;
		left: 190px;
		top: 140px;
}
#message {
		position: absolute;
		left: 50px;
		top: 105px;
		width: 418px;
}
canvas {
		position: absolute;
		left: 50px;
		top: 180px;
		margin: 20px;
}
